.create-asset{
    position:relative;
    align-items: center;
    padding:30px;
    display: flex;
    justify-content: center;
}

h4{
    text-align: center;
}

.asset, .previlege{
    width:450px;
}

.previlege{
    margin-top: 50px;
}

.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.form-group{
    margin-bottom: 30px;
}


.asset-entity .close{
    display:none;
}
